<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>Blog</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sed sequi rerumar quasi repellat eum earum praesentium
				totam! Quia, voluptas eaque anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.
			</p>
		</div>
		<div class="bgGray">
			<div class="container">
				<div class="row main-blog-row">
				<div class="col-12 col-sm-12 col-md-8 col-lg-8 blog-left-col">
				<div class="row rowBlog mb-5">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="boxBlog">
							<div class="imgBlog">
								<%=image_tag "img-port-1.jpg" %>
							</div>
							<div class="blogContent">
								<h4>Lorem ipsum dolor ipsum dolor</h4>
								<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
								<p class="pb-0">
									<a href="#" class="linkText" title="Read More">Read More
										<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								</p>
							</div>

						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="boxBlog">
							<div class="imgBlog">
								<%=image_tag "img-port-2.jpg" %>
							</div>
							<div class="blogContent">
								<h4>Lorem ipsum dolor ipsum dolor</h4>
								<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
								<p class="pb-0">
									<a href="#" class="linkText" title="Read More">Read More
										<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="boxBlog">
							<div class="imgBlog">
								<%=image_tag "img-port-3.jpg" %>
							</div>
							<div class="blogContent">
								<h4>Lorem ipsum dolor ipsum dolor</h4>
								<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
								<p class="pb-0">
									<a href="#" class="linkText" title="Read More">Read More
										<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								<div class="boxBlog">
									<div class="imgBlog">
										<%=image_tag "img-port-4.jpg" %>
									</div>
									<div class="blogContent">
										<h4>Lorem ipsum dolor ipsum dolor</h4>
										<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
										<p class="pb-0">
											<a href="#" class="linkText" title="Read More">Read More
												<i class="fas fa-long-arrow-alt-right"></i>
											</a>
										</p>
									</div>

								</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="boxBlog">
							<div class="imgBlog">
								<%=image_tag "img-port-5.jpg" %>
							</div>
							<div class="blogContent">
								<h4>Lorem ipsum dolor ipsum dolor</h4>
								<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
								<p class="pb-0">
									<a href="#" class="linkText" title="Read More">Read More
										<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<div class="boxBlog">
							<div class="imgBlog">
								<%=image_tag "img-port-6.jpg" %>
							</div>
							<div class="blogContent">
								<h4>Lorem ipsum dolor ipsum dolor</h4>
								<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
								<p class="pb-0">
									<a href="#" class="linkText" title="Read More">Read More
										<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div></div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-4 blog-right-col">
					<div class="search-box">
						<h3>Search</h3>
						<form role="search" method="get" class="search-form" action="//kalsilaw.com/">
						<input type="search" class="search-field" placeholder="Search …" value="" name="s">
						<input type="submit" class="search-submit" value="Search">
					</form></div>
					<h3>Categories</h3>
					<ul class="categories-list">
						<li><a href="#">Categories</a></li>
						<li><a href="#">Categories</a></li>
						<li><a href="#">Categories</a></li>
					</ul>
					<h3>TAG CLOUD</h3>
					<div class="tagcloud">
					<a href="#" class="tag-cloud">Home</a>
					<a href="#" class="tag-cloud">About Us</a>
					<a href=#" class="tag-cloud"">Services</a>
					<a href="#" class="tag-cloud">Portfolio</a>
					<a href="#" class="tag-cloud">Career</a>
					<a href="#" class="tag-cloud">Team</a>
					<a href=#" class="tag-cloud"">Technology</a>
					<a href="#" class="tag-cloud">Blog</a>
				</div>
			</div></div>
		</div>
	</div>
</article>