<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8 col-lg-8">
					<div class="col-lg-12 col-md-12 col-xs-12">
						<h2>Career</h2>
						<h4>"Live Your Dream" Every Day.</h4>
						<p>A career at 24x7 Softwares gives you the opportunity to work alongside outstanding leaders and be driven by endless opportunities for growth, exposure to cutting-edge technologies, and learning possibilities. At 24x7 Softwares, we let people be themselves and magnify their strengths to help them deliver the best – every time.</p>

						<p>Interested to be a part of the 24x7 Softwares team but cannot find a suitable opening below? <a href="mailto:carrer@24x7softwares.com">Click here</a> to submit your resume or email to <b>hr@24x7softwares.com</b>.</p>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">
						<div class="content-area">
							<h4><b>Hiring for Fresher</b></h4>
							<h5>REQUIREMENTS:</h5>
							<p>
							Must be B.tech/B.E/ M.tech/MCA (CS/IT Stream only) 18/19 batch and regular academic background.
							</p>
							<p>Must have done any Project or Internship in any programming language.</p>

							<p>Good OOPs concept and its implementation.</p>

							<p>Good programming skills.</p>

							<p>Good communication skills in English.</p>

							<p>Good analytical skills.</p>

							<p>Please note:</p>

							<p>1.Candidate should be ready to sign a service agreement of 1.5 years.</p>
							<p>2. Please do not apply those candidates who have already attended any interview process at our company in last 6 months.</p>

							<p>Interested candidates can directly walk in from Wednesday 7th Aug 2019 at 11.00 Am sharp.</p>
							</p>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">
						<div class="content-area">
							<h4><b>Looking for Ruby on Rails Experienced Programmer</b></h4>
							<h5><b>REQUIREMENTS:</b></h5>
							<p><b>Experience:</b> Minimum 1 year experience </p>
							<p><b>Qualification:</b> BE/ME/MCA/MTECH </p>
							<p><b>Required Skills:</b> MySql, Bootstrep, postgres, Device, Ruby,Rails 3, Rails 4, java script, Ajax, GitHub, heroku, angular, ember.js etc.</p>
							<p><b>No. Of Vacancies:</b> 1 </p>
							<p><b>Description:</b> </p>
							<p>We’re looking for Ruby on Rails Experienced Developer. Apply Now</p>
							<p>Responsibilities</p>
							<p>• Write clean, maintainable and efficient code</p>
							<p>• Design robust, scalable and secure features</p>
							<p>• Contribute in all phases of the development lifecycle</p>
							<p>• Follow best practices (test-driven development, continuous integration, SCRUM, refactoring and code standards)</p>
							<p>• Drive continuous adoption and integration of relevant new technologies into design
							Requirements</p>
							<p>• Proven work experience as a Ruby on Rails developer</p>
							<p>• Proven work experience in software development</p>
							<p>• Demonstrable knowledge of front-end technologies such as JavaScript, HTML, CSS and JQuery</p>
							<p>• Experience developing highly interactive applications</p>
							<p>• A firm grasp of object oriented analysis and design</p>
							<p>• Good knowledge of relational databases</p>
							<p>• Working knowledge of databases</p>
							<p>Interested candidates can directly walk in from Wednesday 7th Aug 2019 at 11.00 Am sharp.</p>
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-4" style="overflow: auto;">
					<%=render partial: '/shared/contact_us'%>
				</div>
			</div>
			<!-- <div class="row rowCareer">
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-1.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-2.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-3.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-4.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</article>