<article>
	<div class="innerContent pb-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>Contact</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sed sequi rerumar quasi repellat eum earum praesentium
					totam! Quia, voluptas eaque anim uis aute irure dolor in reprehenderit</p>
		</div>
		<div class="boxContactUs">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-4 col-lg-4">
						<div class="boxMap">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.2081041690153!2d75.86951964999272!3d22.720505185033716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd146d03e8a5%3A0x8ac49cfb635f0bd9!2sCity+Plaza!5e0!3m2!1sen!2sin!4v1562329810021!5m2!1sen!2sin"
						 width="100%" height="275" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-8 col-lg-8">
						<div id="sucess_msg"></div>
						<%= simple_form_for @contact, :html => {:id=>"main-contact-form", :name=>"contact-form", class: 'contact-form'} do |f| %>
	            <div id="con"></div>
	            <div class="row">
								<div class="col-6 col-sm-6 col-md-6">
									<div class="form-group">
										<i class="fas fa-user icon-span"></i>
										<%= f.input :name, :required => true,input_html: { :class=>"form-control"}, :placeholder=>"Name" %>
									</div>
								</div>
	            	<div class="col-6 col-sm-6 col-md-6">
									<div class="form-group">
										<i class="fas fa-envelope icon-span"></i>
	            			<%= f.input :email, :required => true,input_html: { :class=>"form-control"}, :placeholder=>"Email" %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6 col-sm-6 col-md-6">
									<div class="form-group">
										<i class="fas fa-file-alt icon-span"></i>
										<%= f.input :subject,input_html: { :class=>"form-control"}, :placeholder=>"Subject" %>
									</div>
								</div>
								<div class="col-6 col-sm-6 col-md-6">
									<div class="form-group">
										<i class="fas fa-phone icon-span"></i>
										<%= f.input :phone_number, input_html: { :class=>"form-control"}, :placeholder=>"Phone Number" %>
									</div>
								</div>
							</div>
							<div class="form-group">
								<i class="fas fa-comments icon-span"></i>
								<%= f.input :message, :as => :text, :required => true,input_html: { :class=>"form-control", rows: "5", cols: "100"}, :placeholder=>"Message" %>
							</div>
							<div class="form-group p-t30">
								<%= f.button :submit, 'Send message' %>
							</div>
	          <% end %>
					</div>
				</div>
				<div class="boxgetInTouch">
					<h3>Get in Touch</h3>
					<p>We're open for any suggestion or just to have a chat.</p>
					<ul class="listDetailBox">
						<li>
							<i class="fas fa-map-marker-alt"></i>
							<a href="#">501, M.G. Road (Regal Chouraha), Indore, Madhya Pradesh 452001</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="mailto:info@24x7softwares.com" title="info@24x7softwares.com">info@24x7softwares.com</a>
						</li>
						<li>
							<i class="fas fa-phone"></i>
							<a href="tel:7879660552" title="+91-78796-660552">+91-78796-660552</a>
						</li>
					</ul>

				</div>
				
			</div>
		</div>
	</div>
</article>