<article>
	<div class="innerContent">
				<section class="sec-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>Portfolio</h2>
			<p class="subHeading">A SELECTION OF OUR WORK.</p>
			<div class="rowPortfolio">
				<div class="row no-gutters">
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="porfolioContent">
							<a target='_blank' href="https://www.demo-wizard.com/">
								<div class="porfolioImg">
									<%=image_tag "demo-wizard.png" %>
								</div>
								<div class="porfolioheading">
									<h4>Demo Wizard
										<span>Event</span>
									</h4>
								</div>
							</a>
						</div>
					</div>
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="porfolioContent">
							<a target='_blank' href="https://shopoff.co/">
								<div class="porfolioImg">
									<%=image_tag "shopoff.png" %>
								</div>
								<div class="porfolioheading">
									<h4>Shopoff
										<span>Fashion, Market</span>
									</h4>
								</div>
							</a>
						</div>
					</div>
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="porfolioContent">
							<a target='_blank' href="http://priyaonlineshop.com">
								<div class="porfolioImg">
									<%=image_tag "priyaonlineshop.png" %>
								</div>
								<div class="porfolioheading">
									<h4>Priyaonlineshop
										<span>E-Commerce</span>
									</h4>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="porfolioContent">
							<a target='_blank' href="https://www.prelist.org/">
								<div class="porfolioImg">
									<%=image_tag "prelist.png" %>
								</div>
								<div class="porfolioheading">
									<h4>Prelist
										<span>Property</span>
									</h4>
								</div>
							</a>
						</div>
					</div>
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="porfolioContent">
							<a target='_blank' href="http://www.metrorelationship.com/">
								<div class="porfolioImg">
									<%=image_tag "www.metrorelationship.com.png" %>
								</div>
								<div class="porfolioheading">
									<h4>Metrorelationship
										<span>Dating</span>
									</h4>
								</div>
							</a>
						</div>
					</div>
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="porfolioContent">
							<a href="https://www.rallyme.com/">
								<div class="porfolioImg">
									<%=image_tag "rallyme.png" %>
								</div>
								<div class="porfolioheading">
									<h4>Rally Me 
										<span>Sport</span>
									</h4>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
</article>