<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>Technology</h2>
			<p>Our knowledge in computer science and experience in the industry result in your success. From custom web design and development to content management integration using the most robust languages such as Ruby on Rails, HTML5 and CSS3, Javascript and more. <b>24x7 Softwares</b> web design team can help you stand out from the crowd. Let our knowledge and experience in web design and development help you achieve the success you’re after </p>
			<p>We are providing exellent result from past no of decade in the following technologies.</p>

			<div class="technologies-content" style="margin: 20px;">

		    <div class="container">
		      <div class="row">
		        <div class="col-md-2">
		          <%=image_tag 'rails.jpg', alt: 'Rails' %>
		        </div>
		        <div class="col-md-2">
		        	<%=image_tag 'angular.png', alt: 'angular' %>
		        </div>
		        <div class="col-md-2">
		        	<%=image_tag 'ios.jpg', alt: 'ios' %>
		        </div>
		        <div class="col-md-2">
		        	<%=image_tag 'android.png', alt: 'Android' %>
		        </div>
		        <div class="col-md-2">
		        	<%=image_tag 'node.png', alt: 'Node' %>
		        </div>
		        <div class="col-md-2">
		        	<%=image_tag 'php.png', alt: 'Php' %>
		        </div>
		      </div>
		    </div>
  		</div>
		</div>
	</div>
</article>